<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Chat</title>
    <script type="text/javascript" src="/chatpage.js"></script>
    <script src="webjars/jquery/3.6.4/jquery.min.js"></script>
    <script src="webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="/css/chatpage.css" rel="stylesheet">
</head>
<body onload="connect();getMessages()">

<div class="container m-0 p-0" style="max-width: 100%">
    <div class="row">
        <!--Sidebar-->
        <div class="col-2 p-0 bg-dark" style="width: 72px">
            <ul class="squircles">
                <li class="squircle"></li>
                <li class="squircle"></li>
                <li class="squircle"></li>
                <li class="squircle"></li>
                <li class="squircle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </li>
            </ul>
        </div>
        <!--Group sidebar-->
        <div class="col-2 p-0 group-sidebar">
            <div class="card">
                <!--Card header-->
                <div class="card-header p-0 h-100" style="height: 48px">
                    <div class="dropdown h-100" style="width: 100%">
                        <button class="btn btn-secondary w-100 dropdown-toggle p-0" type="button" data-bs-toggle="dropdown" style="height: 48px">
                            Group Name
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">1</li>
                            <li class="dropdown-item">2</li>
                            <li class="dropdown-item">3</li>
                        </ul>
                    </div>
                </div>
                <!--Card body-->
                <div class="card-body"></div>
                <!--Card Footer-->
                <div class="card-footer"></div>
            </div>
        </div>
        <!--Message box-->
        <div class="col p-0">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h5 class="mb-0">Chat</h5>
                </div>
                <div id="messages" class="card-body overflow-auto"
                     style="position: relative; height: 400px">
                </div>
                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                    <input type="text" class="form-control form-control-lg" id="typedinput"
                           placeholder="Type message">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script type="text/javascript" src="webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</body>
</html>