<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container bg-dark">
        <div class="circle"></div>
        <div><span th:text="username"></span> <span> invited you to join</span></div>
        <div><span th:text="servername"></span> <span> server</span></div>
        <div>
            <span>1 Online</span>
            <span>1 Member</span>
        </div>
        <button id="accept-invite">Accept Invite</button>
    </div>
</body>
</html>